---
layout: default
title: Jeff's Blog
published: true
---

<div id="home">
  <ul class="posts">
    
		
		<script>
	console.log("JSON: " + JSON.stringify(location.search));
	var cat = location.search.split('cat=')[1]
        console.log("Cat: " + cat);
        if (cat){
	    console.log("Searching for: " + cat);
		
	    //document.write('{% assign sorted_posts = site.posts | sort: "title" %}');
	    document.write('{% assign sorted_posts = site.posts | where_exp: "post", "post.categories contains \'Markdown\'" %}');
            document.write('{% for post in sorted_posts %}');

		document.write('{{ post.title }} - {{ post.categories }} <br>');

            //document.write('    {%if post.categories contains "' + cat + '" %}');
	    document.write('-inside if-');
	    document.write('<li>&laquo; <span>{{ post.date | date_to_string }}</span>&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>');
	    //document.write('<h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }} <p class="date">{{ post.date |  date: "%B %e, %Y" }}</p></a></h3>');
            //document.write('<p>{{ post.excerpt | strip_html | truncate: 160 }}</p>');
	    document.write('    {%endif%}');
	    //document.write('-after if-');
            document.write('{% endfor %}');
	    console.log("--Done--");
        } else {
            //Show everything
            document.write('{% for post in site.posts %}');
	    document.write('<li>&laquo; <span>{{ post.date | date_to_string }}</span>&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>');
	    document.write('{% endfor %}');
        }
		</script>
  </ul>
  
</div>
